*{
  margin: 0%;
  padding: 0%;
}
body{
  background-color: rgb(58, 56, 56);
  color: white;
}
.one{
  background-image: url(image/background.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.logo{
  width: 100px;
  position: absolute;
  top: 4%;
  left: 2%;
}
.one-text{
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 200px;
}
.one-text{
  font-size: 80px;
  font-family: 'UnifrakturMaguntia', cursive;
}
.content{
  width: 100%;
  padding: 40px 0;
  text-align: center;
  padding-bottom: 40px;
}
.content p{
  margin: auto;
  font-size: 20px;
  color: #1c97a0;
  font-weight: bold;
}
.content h2{
  font-size: 40px;
}
.content-text{
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
}
.content-text{
  font-size: 19px;
}
.list-songs h2{
  font-size: 35;
  color: #1c97a0;
  padding-left: 20px;
}
.list-songs p{
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  font-size: 19px;
}
ol{
  padding-left: 40px;
}
.albm h2{
  font-size: 35;
  color: #1c97a0;
  padding-left: 20px;
}
.albm ul{
  padding-left: 40px;
}
.lik-fav h2{
  font-size: 35;
  color: #1c97a0;
  padding-left: 20px;
}
.lik-fav ul{
  padding-left: 40px;
  padding-bottom: 10px;
}
.container{
  max-width: 1000px;
  margin: auto;
  overflow: auto;

}
.image{
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}
.desc h3{
  font-size: 35;
  color: #1c97a0;
  padding-left: 20px;
}
.desc p{
  padding-left: 10px;
  padding-right: 30px;
  padding-bottom: 20px;
}
