*{
  margin: 0%;
  padding: 0%;
}
.one{
  background-image: url(image/background.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.logo{
  width: 100px;
  position: absolute;
  top: 4%;
  left: 2%;
}
.one-text{
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 200px;
}
.one-text{
  font-size: 80px;
  font-family: 'UnifrakturMaguntia', cursive;
}
.content{
  width: 100%;
  padding: 40px 0;
  text-align: center;
  padding-bottom: 40px;
}
.content p{
  margin: auto;
  font-size: 20px;
  color: #1c97a0;
  font-weight: bold;
}
.content h2{
  font-size: 40px;
}
.content-text{
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
}
.content-text{
  font-size: 19px;
}