*{
  margin: 0%;
  padding: 0%;
}
body{
  background-color: rgb(20, 20, 20);
  color: rgb(244, 251, 252);
}
#bckgrnd{
  background-image: url(image/ds.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.one{
  background-image: url(image/background.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.logo{
  width: 100px;
  position: absolute;
  top: 4%;
  left: 2%;
}
.one-text{
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 200px;
}
.one-text{
  font-size: 80px;
  font-family: 'UnifrakturMaguntia', cursive;
}
.content{
  width: 100%;
  padding: 40px 0;
  text-align: center;
  padding-bottom: 40px;
}
.content p{
  margin: auto;
  font-size: 20px;
  color: #1c97a0;
  font-weight: bold;
}
.content h2{
  font-size: 40px;
}
.content-text{
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
}
.content-text{
  font-size: 19px;
}
#the-txt{
  display: flex;
}
.list-songs{
  width: 50%;
  float: left;
  padding: 20px;
  margin-right: 10px;
}
.albm{
  width: 50%;
  float: left;
  padding: 20px;
  margin-right: 10px;
}
.lik-fav{
  width: 50%;
  float: left;
  padding: 20px;
  margin-right: 10px;
}
.tours{
  width: 50%;
  float: left;
  padding: 20px;
  margin-right: 10px;
}
.tours h2{
  font-size: 35;
  color: #1c97a0;
  padding-left: 20px;
}
.list-songs h2{
  font-size: 35;
  color: #1c97a0;
  padding-left: 20px;
}
.list-songs p{
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  font-size: 19px;
}
ol{
  padding-left: 40px;
}
ul{
  list-style-type: none;
}
.albm h2{
  font-size: 35;
  color: #1c97a0;
  padding-left: 20px;
}
.albm ul{
  padding-left: 40px;
}
.lik-fav h2{
  font-size: 35;
  color: #1c97a0;
  padding-left: 20px;
}
.lik-fav ul{
  padding-left: 40px;
  padding-bottom: 10px;
}
.container{
  display: flex;
  flex-direction: column;
  background: #1c1d1d url(image/bck2.png) 0px -100px no-repeat ;
  display: flex;
}
.members{
  display: flex;
  text-align: center;
}
.image{
  flex: 25%;
  margin: 20px;
}
#foot{
  text-align: center;
  padding: 10px;
  font-size: 12px;
}
